*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
/* banner styles here  */
.banner{
    width: 100%;
    height: 90vh;
    /* background: url('images/banner/banner2.png'); */
    background: url('images/banner/banner2.png'), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;

}
.banner-content{
    width: 520px;
    height: 600px;
    position: absolute;
    margin-left: 1080px;
    margin-top: 210px;
    text-align: right;
}
.banner-title{
    font-size: 65px;
}
.banner-description{
    font-size: 16px;
    margin-top: 24px;
}
.btn-banner{
    /* width: 150px;
    height: 65px; */
    margin-top: 30px;
    border: 0px;
    border-radius: 5px;
    background: #F15B22;
    color: white;
    padding: 20px 25px;
    font-size: 20px;
}
/* failures styles starts here  */
.failures{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}
.failure-img{
    margin-left: 250px;
}
.failures-content{
    margin-right: 320px;
    width: 420px;
}
.failure-title{
    font-size: 40px;
    margin-bottom: 24px;
}
.failures-description{
    color:#444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}
.failures-list{
    margin-bottom: 8px;
}
.failures-lists{
    margin-left: 18px;
}
/* plan styles starts here  */
.plan{
    margin: 150px 290px;

}
.plan-title{
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.plan-tecno{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
    margin-top: 50px;
}
.plan-tec-title{
    font-size: 30px;
    margin-top: 24px;
    margin-bottom: 16px;
    color:  #151414;
}
.plan-tec{
    text-align: center;

}
.plan-desc{
    color:  #737272;
    font-size: 25px;
    font-weight: 500;
}
/* watch styles starts here  */
.watch{
    width: 1220px;
    height: 300px;
    margin: 130px 370px;
    background: url('/images/watch.png');
    background-repeat: no-repeat;
    position: relative;
}
.watch-content{
    position: absolute;
    margin-top: 60px;
    margin-left: 65px;
    width: 450px;
}
.watch-title{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}
.watch-btn{
    padding: 16px 35px;
    border: 0px;
    color: #F15B22;
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 24px;
    border-radius: 5px;
}
/* footer styles starts here  */
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 485px;
    background-color: #151414;

}
.footer-content{
    width: 500px;
    /* margin-left: 90px; */
}
.footer-content-title{
    color:#f8f8f8;
    font-size:40px;
    font-weight:700px;
}
.footer-content-description{
    color: white;
    font-weight: 400px;
    margin-top: 24px;
    margin-bottom: 23px;
}
.footer-email, .footer-phone{
    color: white;
    font-weight: 400px;
    margin-bottom: 20px;
}
.footer-icon{
    gap: 20px;
}
.footer-button{
    display: block;
    /* margin-right: 250px; */
}
.footer-button-title{
    color: white;
    font-size: 25px;
    font-weight: 600px;
    margin-bottom: 30px;

}
.btn-email{
    width: 300px;
    padding: 20px 150px 21px 20px;
    border: 1px solid white;
    background-color: black;
    color: white;
    margin-bottom: 30px;
}
.btn-subscribes{
    padding: 20px 35px;
    color: #F15B22;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600px;
    border: none;
}